{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  {{ super() -}}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ super() -}}{{ article.title|striptags }}{% endblock %}

{% block content %}
<header class="mt-5 mb-3">
    <h1>{{ article.title }}</h1>
    {% include 'article_info.html' %}
</header>
{{ article.content }}
{% endblock %}