{% extends 'base.html' %}
{% block title %}- {{ category }}{% endblock %}

{% block content %}
<h2>{{ category | capitalize }}</h2>


<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles_page.object_list %}
        <tr>
            <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
            <td>{{ article.author }}</td>
            <td>{{ article.date|strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
    {% for article in articles_page.object_list %}
    <li>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        <time>{{ article.date|strftime('%b %Y') }}</time>
    </li>
    {% endfor %}
</ul>
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock %}